  .subscribe {
  background-color:rgb(200, 0, 0);
  color:white;
  border: none;
  height: 30px;
  width: 110px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity 0.15s;
  }
  .subscribe:hover {
    opacity: 0.7;
  }
  .subscribe:active {
    opacity:0.5;
  }
   .join {
    background-color: white;
    border-color: rgb(8, 8, 211);
    border-width: 1px;
    color: rgb(8, 8, 211);
    height: 30px;
    width: 62px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 0.15s, 
    color 0.15s;
  }
  .join:hover {
    background-color: rgb(8, 8, 211);
    color: white;
  }
  .join:active {
    opacity: 0.7;
  }
  .twit {
    background-color: rgb(19, 132, 203);
    color: white;
    border: none;
    height: 30px;
    width: 74px;
    border-radius: 38px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    transition: box-shadow 0,15s;
  }
  .twit:hover {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
  }